<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "hata") %> bu gönderinin kaydedilmesini engelledi:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Başlık", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :title, "Yazar", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, "İçerik", style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Yeni gönderiyi oluştur" %>
  </div>
<% end %>
